@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Card Game</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Play and Share your creativity!!!</a>.</p>
</div>
