@page
@model Challenge03.Pages.Cards.EditModel

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Card.Id" />
            <div class="form-group">
                <label asp-for="Card.Nome" class="control-label"></label>
                <input asp-for="Card.Nome" class="form-control" />
                <span asp-validation-for="Card.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Historia" class="control-label"></label>
                <input asp-for="Card.Historia" class="form-control" />
                <span asp-validation-for="Card.Historia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.ImageUrl" class="control-label"></label>
                <input asp-for="Card.ImageUrl" class="form-control" />
                <span asp-validation-for="Card.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Assinatura" class="control-label"></label>
                <input asp-for="Card.Assinatura" class="form-control" />
                <span asp-validation-for="Card.Assinatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.BaralhoId" class="control-label"></label>
                <select asp-for="Card.BaralhoId" class="form-control" asp-items="ViewBag.BaralhoId"></select>
                <span asp-validation-for="Card.BaralhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Classe" class="control-label"></label>
                <input asp-for="Card.Classe" class="form-control" />
                <span asp-validation-for="Card.Classe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Elemento" class="control-label"></label>
                <input asp-for="Card.Elemento" class="form-control" />
                <span asp-validation-for="Card.Elemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.HP" class="control-label"></label>
                <input asp-for="Card.HP" class="form-control" />
                <span asp-validation-for="Card.HP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.SP" class="control-label"></label>
                <input asp-for="Card.SP" class="form-control" />
                <span asp-validation-for="Card.SP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Forca" class="control-label"></label>
                <input asp-for="Card.Forca" class="form-control" />
                <span asp-validation-for="Card.Forca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Defesa" class="control-label"></label>
                <input asp-for="Card.Defesa" class="form-control" />
                <span asp-validation-for="Card.Defesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Agilidade" class="control-label"></label>
                <input asp-for="Card.Agilidade" class="form-control" />
                <span asp-validation-for="Card.Agilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Inteligencia" class="control-label"></label>
                <input asp-for="Card.Inteligencia" class="form-control" />
                <span asp-validation-for="Card.Inteligencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
